In [1]:
pantai = "Pemandangan pantai di sore hari sangatlah indah"
print(pantai[12:32])

pantai di sore hari

In [3]:
print(pantai[32:-1])
print(pantai[12:])

# x nya yaitu 12 dan y nya tak terhingga(kosong), jadi dimulai dari urutan 12 sampai selesai (tak terhingga)

sangatlah inda
pantai di sore hari sangatlah indah

In [5]:
status="Saya Mahasiswa di Universitas Udayana"
print(status[:-7])

# x nya yaitu kosong dan y nya -7(data ke 7 dari akhir), jadi dimulai dari awal sampai -6

Saya Mahasiswa di Universitas

In [6]:
print(status[2:-1:3])

# misalkan variabel x,y,z
# x(2) akan muncul huruf pada urutan kedua.
# untuk y(-1) karna negatif berarti dimulai dari akhir dan tidak muncul
# dan untuk z(3) itu adalah angka yang akan muncul adalah kelipatan 3

yMas  irt an

In [7]:
nama = "Nama kucing saya adalah alice"

In [9]:
print(len(nama))

#menghitung jumlah huruf pada kalimat diatas

29

In [10]:
nama.upper()

#mengubah kalimat diatas menjadi huruf kapital semua

'NAMA KUCING SAYA ADALAH ALICE'

In [11]:
nama.lower()

#mengubah kalimat diatas menjadi huruf kecil semua

'nama kucing saya adalah alice'

In [12]:
nama.find('alice')

#menentukan kata tersebut pada urutan yang ke ... dari kalimat diatas

24

In [14]:
nama.find('nama')

#kata tersebut berarti tidak ada dalam kalimat diatas

-1

In [15]:
nama.replace("alice","oreo")

#mengganti kalimat diatas, kata "alice" dengan "oreo"

'Nama kucing saya adalah oreo'

In [23]:
nama.replace("Alice","oero")

#jika kalimat tidak berubah maka ada yang salah, kesalahan disini adalah kata "alice" menggunakan awalan kapital

'Nama kucing saya adalah alice'

In [24]:
print("kucing" in nama)

#jika hasil nya true maka kata "kucing" tersebut benar adanya pada kalimat diatas

True

In [25]:
print("Kucing" in nama)

#jika hasil nya false maka berarti kata "Kucing" tersebut tidak ada pada kalimat diatas

False

In [26]:
print(2+5)
#operasi penjumlahan
print(3-5)
#operasi pengurangan
print(5*6)
#operasi perkalian
print(34/5)
#operasi pembagian
print(34//5)
#operasi pembulatan pembagian
print(34%5)
#modulo
print(3**4)
#operasi pangkat

7
-2
30
6.8
6
4
81

In [28]:
x=50
x+=5
print(x)

#penjumlahan antara x pertama dan x kedua

55

In [29]:
x-=10
print(x)

#pengurangan hasil dari x yang pertama di kode sebelumnya dengan x yang diinput disini

45

In [31]:
x*=10
print(x)

#perkalian dari hasil x pada sebelumnya yaitu (45) dengan x yang diinput disini

450

In [1]:
x= 10>2
print(x)
#perbandingan lebih besar
x= 5<2
print(x)
#perbandingan lebih kecil
x= 8 >= 7
print(x)
#perbandingan lebih besar sama dengan
x= 7 <= 8
print(x)
#perbandingan lebih kecil sama dengan
x= 6==6
print (x)
#perbandingan sama dengan
x= 6!=6
print(x)
#perbandingan tidak sama dengan

True
False
True
True
True
False

In [2]:
buah_klengkeng = 20
buah_mangga = 15
print(buah_klengkeng > 15 and buah_mangga < 18)

#menentukan nilai kebenaran antara lebih dari dan kurang dari, jika true and true maka hasilnya akan true

True

In [3]:
print(buah_klengkeng < 15 or buah_mangga < 14)

#menentukan nilai kebenaran antara kurang dari atau kurang dari, jika false atau false maka hasilnya akan false

False

In [4]:
print(buah klengkeng < 15 or buah_mangga < 14)

#terjadi error disini karna tidak adanya underscore pada kata buah klengkeng yang seharusnya adalah "buah_klengkeng"

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3588799401.py, line 1)

In [7]:
print(not (buah_klengkeng < 15 and buah_mangga > 17))

#karna disini ada kata not maka akan menghasilkan nilai yang berlawanan
#sempet salah disini karna lupa memakai underscore dan lupa memasukkan angka nya

True

In [10]:
pendidikan = float(input("Berapakah umur anda ? "))
if pendidikan >= 18:
    print("Anda sedang berkuliah atau bekerja ya")
    print("Semangatt buat kalian!!")
elif pendidikan >= 16:
    print("Anda sedang menempuh pendidikan SMA")
    print("Semangat belajar nya !!")
elif pendidikan >= 14:
    print("Anda sedang menempuh pendidikan SMP")
    print("Semangat belajar nya !!")
elif pendidikan >= 7:
    print("Anda sedang menempuh pendidikan SD")
    print("Semangat belajar nya !!")

Berapakah umur anda ? 8
Anda sedang menempuh pendidikan SD
Semangat belajar nya !!